<div class="bg-img"></div>


<div class="todoapp">
  <div class="container-title stylish-title">
    <span class="stylish-title">Zona Sofi</span>
    <div style="width: 40px">
      <app-image-renderer imageUrl="https://media1.tenor.com/m/LnVYa1UrSp0AAAAd/cute-aww.gif"></app-image-renderer>
    </div>
  </div>
  <app-main></app-main>
  <app-footer></app-footer>
</div>


<!--EXTRAS-->
<img (click)="back()" src="https://cdn-icons-png.flaticon.com/512/3588/3588230.png" width="50" height="50" alt="album"
  class="back">

<div class="add" (click)="openNewNote()">
  <app-image-renderer [circle]="true"
    imageUrl="https://cdn.pixabay.com/photo/2017/07/01/12/53/button-2461417_960_720.png"></app-image-renderer>
</div>


<app-popup label="Puedes escribir aquí!" *ngIf="newNoteModal" (clickClose)="clearModal()">
  <bunny-input placeHolder="Ingrese el título" [control]="titleNoteControl"></bunny-input>
  <text-area [control]="noteControl"></text-area>
  <app-button [disabled]="titleNoteControl.invalid || noteControl.invalid" *ngIf="newNoteModal.button1Text"
    [label]="newNoteModal.button1Text" (click)="newNoteModal.onButton1Click?.()"></app-button>
</app-popup>