.layout-gallery{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px ;
}
h1 {
  color: white;
  font-size: 2rem;
  text-shadow: -1px -1px 0 black,
  1px -1px 0 black,
  -1px 1px 0 black,
  2px 2px 10px black; /* Borde negro */
  text-align: center;
  margin-top: 4rem;
}

.fullscreen-background {
  position: fixed; /* Fija el fondo a la pantalla */
  top: 0;
  left: 0;
  width: 100vw; /* Usa el 100% del ancho de la pantalla */
  height: 100vh; /* Usa el 100% de la altura de la pantalla */
  background-image: url('https://res.cloudinary.com/dzydl81rq/image/upload/v1735408098/panxswabr8flxuyxz2ly.png'); /* Ruta de la imagen PNG */
  background-size: cover; /* Hace que la imagen cubra toda la pantalla */
  background-position: center center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  z-index: -1; /* Asegura que el fondo esté detrás de otros elementos */
  overflow-y: scroll;
}
