<div class="fullscreen-background">
  <div class="layout-gallery">
    <h1>Nuestras historias!!</h1>
    <view-gallery></view-gallery>
    <app-image-renderer imageUrl="https://media.tenor.com/KdddEOVLxDsAAAAi/tkthao219-bunny.gif"></app-image-renderer>
   <div style="display: flex; align-items: center; gap: 10px">
     <img (click)="back()" src="https://res.cloudinary.com/dzydl81rq/image/upload/v1735183872/assests/dcyqmki7er1t9n1oykdm.svg" width="50" height="50" alt="album" class="album">
     <app-button label="PRESIONAMEEE!!!" (click)="goFinalMessage()"></app-button>
   </div>
  </div>
</div>

