<div class="container-final">
  <app-image-renderer width="40px" height="40px"
                      imageUrl="https://media.tenor.com/Ck8jqx7ReXUAAAAj/tkthao219-bunny.gif"></app-image-renderer>
  <div class="card">
    <h1>Para mi bb!</h1>
    <p>
      Querida Sofia de Quiñonez(Mi amore!),<br><br>
      Este año que hemos compartido ha sido una montaña rusa de momentos felices y desafíos que nos han hecho
      más fuertes y muy unidos: cada sonrisa, cada abrazo y hasta cada percance han sido ladrillos que construyen la base
      sólida de nuestra relación que me llena de orgullo!!.<br> No dejo de admirar cuánto hemos crecido juntos en tan poco
      tiempo, aprendiendo, riendo y amándonos más con cada día que pasa. Tú eres mi compañera,
      mi refugio y mi mayor alegría, y no puedo esperar a seguir construyendo este camino contigo. ❤️<br><br>
      Atentamente,<br>
      Tu Efra!
    </p>
  </div>
  <app-image-renderer imageUrl="https://media.tenor.com/HtidDGJ_0R0AAAAj/hug-kiss-happy.gif "></app-image-renderer>
  <div style="margin-bottom: 1rem">
    <app-button (click)="descargarpdf()" label="Presioname y mira❤️!"></app-button>
  </div>
  <app-button (click)="backLogin()" backgroundColor="#ff5f93" label="Presioname si quieres ir al inicio !"></app-button>
</div>
