<div class="container-final">
  <app-image-renderer width="40px" height="40px"
                      imageUrl="https://media.tenor.com/Ck8jqx7ReXUAAAAj/tkthao219-bunny.gif"></app-image-renderer>
  <div class="card">
    <h1>Para mi bb!</h1>
    <p>
      Querida Sofia de Quiñonez,<br><br>
      Este es un ejemplo de carta para mostrar cómo puedes diseñar contenido con
      un fondo atractivo. Usa este estilo para resaltar el texto y dar una
      sensación agradable al lector.<br><br>
      Atentamente,<br>
      Efra!
    </p>
  </div>
  <app-image-renderer imageUrl="https://media.tenor.com/HtidDGJ_0R0AAAAj/hug-kiss-happy.gif "></app-image-renderer>
  <div style="margin-bottom: 1rem">
    <app-button label="No hago nada pero presioname❤️!"></app-button>
  </div>
  <app-button (click)="backLogin()" backgroundColor="#ff5f93" label="Presioname si quieres ir al inicio !"></app-button>
</div>
