<div class="container-final">
  <app-image-renderer width="40px" height="40px"
                      imageUrl="https://media.tenor.com/Ck8jqx7ReXUAAAAj/tkthao219-bunny.gif"></app-image-renderer>
  <div class="card">
    <h1>Para mi bb!</h1>
    <p>
      Querida Sofia de Quiñonez,<br><br>
      tienes a tu lado a un hombre enamorado ❤️, que te cuidara y te apoyara en todo lo que hagas. <br>Ademas tengo muchas cosas que quiero lograr contigo este 2025, no sera fácil pero juntos afrontaremos muchos retos de aquí en adelante que me tienen emocionado!!<br><br>
      Atentamente,<br>
      Tu Efra!
    </p>
  </div>
  <app-image-renderer imageUrl="https://media.tenor.com/HtidDGJ_0R0AAAAj/hug-kiss-happy.gif "></app-image-renderer>
  <div style="margin-bottom: 1rem">
    <app-button (click)="descargarpdf()" label="Presioname y mira❤️!"></app-button>
  </div>
  <app-button (click)="backLogin()" backgroundColor="#ff5f93" label="Presioname si quieres ir al inicio !"></app-button>
</div>
