<footer class="footer" [ngClass]="{ hidden: noTodosClass() }">
  <span class="todo-count">
    <strong>{{ activeCount() }}</strong>
    {{ itemsLeftText() }}
  </span>
  <ul class="filters">
    <li>
      <a
        href="/"
        [ngClass]="{ selected: filterSig() === filterEnum.all }"
        (click)="changeFilter($event, filterEnum.all)"
      >Todos</a
      >
    </li>
    <li>
      <a
        href="/"
        [ngClass]="{ selected: filterSig() === filterEnum.active }"
        (click)="changeFilter($event, filterEnum.active)"
      >Activos</a
      >
    </li>
    <li>
      <a
        href="/"
        [ngClass]="{ selected: filterSig() === filterEnum.completed }"
        (click)="changeFilter($event, filterEnum.completed)"
      >Completados</a>
    </li>
  </ul>
</footer>

