.question {
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

button {
  padding: 10px;
  font-size: 1em;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b6315e;
}
