<div class="containerHeart">
  <div class="login">
    <app-image-renderer imageUrl="https://media1.tenor.com/m/B0qB9CjpCWMAAAAd/thumper.gif"></app-image-renderer>
    <h1>Ingresa la palabra magica</h1>
    <bunny-input [control]="palabraControl"></bunny-input>
    <app-button [disabled]="palabraControl.invalid" [label]="'Intento númeroooo   ' + nIntentos" (click)="verificarPalabra()"></app-button>
  </div>
</div>

<app-popup
  *ngIf="modalVerificarIntentos"
  (clickClose)="closeModalVerificar()"
  label="Alto ahi responda con cuidado!!">
  <app-image-renderer *ngIf="modalVerificarIntentos.urlImg" [imageUrl]="modalVerificarIntentos.urlImg"></app-image-renderer>
  <h2>{{modalVerificarIntentos.question}}</h2>
  <div class="d-flex gap-5">
    <app-button
      *ngIf="modalVerificarIntentos.button1Text"
      [label]="modalVerificarIntentos.button1Text"
      (click)="modalVerificarIntentos.onButton1Click?.()"
    ></app-button>
    <app-button
      *ngIf="modalVerificarIntentos.button2Text"
      [label]="modalVerificarIntentos.button2Text"
      (click)="modalVerificarIntentos.onButton2Click?.()"
    ></app-button>
  </div>


</app-popup>

<loader *ngIf="loaderImg" [imageUrl]="loaderImg"></loader>
