<div class="containerHeart">
  <div class="login">
    <app-image-renderer imageUrl="https://media1.tenor.com/m/B0qB9CjpCWMAAAAd/thumper.gif"></app-image-renderer>
    <h1>Ingresa la palabra magica</h1>
    <bunny-input [control]="palabraControl"></bunny-input>
    <app-button [disabled]="palabraControl.invalid" [label]="'Valida aqui, seguro la sabes!'" (click)="verificarPalabra()"></app-button>
  </div>
</div>
<div class="ayuda" (click)="openNotes()">
  <app-image-renderer [circle]="true" imageUrl="https://media1.tenor.com/m/p4rIdn5WSo0AAAAd/patte-coussinets.gif"></app-image-renderer>
</div>
<div class="ayuda2" (click)="openModalGames()">
  <app-image-renderer [circle]="true" imageUrl="https://media1.tenor.com/m/p4rIdn5WSo0AAAAd/patte-coussinets.gif"></app-image-renderer>
</div>

<app-popup
  *ngIf="modalVerificarIntentos"
  (clickClose)="closeModalVerificar()"
  label="Alto ahi responda con cuidado!!">
  <app-image-renderer *ngIf="modalVerificarIntentos.urlImg" [imageUrl]="modalVerificarIntentos.urlImg"></app-image-renderer>
  <h2>{{modalVerificarIntentos.question}}</h2>
  <div style="display: flex;justify-content: center">
    <app-button
      *ngIf="modalVerificarIntentos.button1Text"
      [label]="modalVerificarIntentos.button1Text"
      (click)="modalVerificarIntentos.onButton1Click?.()"
    ></app-button>
  </div>
</app-popup>

<loader *ngIf="loaderImg" [imageUrl]="loaderImg"></loader>
