.container-games{
  padding: 50px 20px 25px 20px;
}
.list-games{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  span{
    display: inline-block;
    padding: 5px 10px;
    background-color: #4caf50; /* Color de fondo */
    color: white; /* Color del texto */
    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solid transparent; /* Borde opcional */
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #45a049; /* Cambiar color */
      border-color: #2e7d32; /* Cambiar borde */
      transform: scale(1.05); /* Aumentar tamaño */
    }

    /* Efectos al presionar */
    &:active {
      background-color: #388e3c;
      transform: scale(0.95);
    }
  }
}
