.bg{
  background: linear-gradient(135deg, #0d0d0d, #2e2e3a, #585870, #a8bcd0);


  width: 100%;
  min-height: 100vh;
}
.container-games{
  padding: 50px 20px 25px 20px;
  .container-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      color: #ffffff;
      font-size: 1.5rem;
    }
  }
}
.back{
  position: fixed;
  bottom: 10px  ;
  left: 10px;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #f48fb1;
  background: white;
}
.list-games{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  span{
    display: inline-block;
    padding: 5px 10px;
    background-color: #08d9d6; /* Rosa pastel */
    color: #ffffff; /* Texto blanco */

    font-weight: bold;
    text-align: center;
    border-radius: 5px; /* Bordes redondeados */
    border: 2px solid transparent; /* Borde opcional */
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background-color: #08d9d6; /* Cambiar color */
      transform: scale(1.05); /* Aumentar tamaño */
    }

    /* Efectos al presionar */
    &:active {
      background-color: #08d9d6;
      transform: scale(0.95);
    }
  }
}
