table {
  border-collapse: collapse;
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: black;
  color: white;
}

td {
  background-color: #f9f9f9;
}

.highlight {
  font-weight: bold;
}
