<div class="juego-container">
  <div class="pregunta-container">
    <h2>{{ preguntaActual.pregunta }}</h2>
    <div class="respuestas">
      <button *ngFor="let respuesta of preguntaActual.respuestas"
              (click)="responder(respuesta)">
        {{ respuesta }}
      </button>
    </div>
  </div>
  <div class="compatibilidad">
    <h3>Compatibilidad: {{ compatibilidad }}%</h3>
    <app-compatibility-bar [imgUrl]="urlGatitos" [compatibility]="compatibilidad" [showImg]="true"></app-compatibility-bar>
  </div>
</div>
